# Python
pycache/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
/media/
/staticfiles/
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# Migrations cache
*/migrations/pycache/

# Mac / Windows
.DS_Store
Thumbs.db